# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.env
**/.env
venv/
env/
.pytest_cache/

# Flutter & Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
build/
**/local.properties
**/android/.gradle/
*.lock

# OS & Editor
.DS_Store
Thumbs.db
.idea/
.vscode/

# Local databases & test dumps
*.db
*.bin
*.apk
